body {
	background: #000;
	color: #fff;
	font-size: 0.84em;
	line-height: 1.42em;
	margin: 0;
	padding: 0;
	font-family: "DIN", sans-serif;
}

.canvasHolder {
	overflow: hidden;
	position: relative;
	background-size: 100% auto;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index:2;
}

a img {
	border:none;
}


.action-row {
	text-align: right;
	border-top: 1px solid #ffefbf;
	padding-top: 1em;
	margin-top:  1em;
	position: absolute;
	bottom: 1em;
	left: 2em;
	right: 2em;
}

#loading-window {
	position:absolute;
	top:50%;
	margin-top:-18.5em;
	left:50%;
	padding:0.5em;
	margin-left:-11.5em;
	width: 23em;
	height: 37em;
	text-align: center;
	background-color: #000;
	background-color: rgba(0,0,0,0.65);
	z-index:0;
}

.dinosauria #loading-window {
	height: 34em;
	margin-top:-17em;
}

#loading-window * { z-index: 999; position:relative;}

#loading-window.active { z-index:999; }

#loading-window .puzzle-loader-actions {
	position:absolute;
	bottom:8px;
	left:8px;
	right:8px;
}

#ntfy-window {
	background-color: #000;
	padding:0.5em;
	width:23em;
	position:absolute;
	left:50%;
	margin-left:-11.5em;
	top:-26em;
	z-index:998;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: top 0.25s ease-in-out;
	-ms-transition: top 0.25s ease-in-out;
	-o-transition: top 0.25s ease-in-out;
	transition: top 0.25s ease-in-out;
}



#ntfy-window.active:before, #loading-window.active:before {
	content: "";
	position:fixed;
	top:0;
	left:0;
	height:100%;
	bottom:0;
	right:0;
	width:100%;
	z-index:100;
	background-color:rgba(0,0,0,0.35);
}

#loading-window.active:before {
	z-index:1;
}

#ntfy-title, #puzzle-title {
	margin:0;
	padding: 20px 20px 15px;
	text-shadow:2px 2px 0px rgba(0,0,0,0.35);
	background:#333;
	position:relative;
	z-index:998;
	font-family:'DIN', sans-serif;
}

.fail #ntfy-title {
	background:#f30;
}

.success #ntfy-title {
	background:#007c41;
}

#ntfy-close {
	position:absolute;
	right:22px;
	top:23px;
	z-index:999;
}

#ntfy-message {
	padding:10px 20px 2px 20px;
	font-size:1.2em;
	font-weight:700;
	position:relative;
	z-index:998;
}

#puzzle-title {
	text-shadow: 2px 2px 0px rgba(0,0,0,0.65);
	margin-bottom:8px;
}

.puzzle-gif-holder {
	position:relative;
}

#loading-window .puzzle-gif-holder img {
	width:100%;
	position:absolute;
	top:0;left:0;
}


#puzzle-intro {
	font-size:1.2em;
	font-weight:700;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.65);
	padding:0.25em 1em;
}

.btn {
	display: inline-block;
	margin: 0em 0em 0em 1em;
	padding: 1.2em 2em 1em;
	font-size:1em;
	color: #fff;
	text-transform: uppercase;
	line-height: 1em;
	text-decoration: none;
	font-weight: 700;
	background-color: #007c41;
	text-shadow:  2px 2px 0px rgba(0,40,0,0.65);
	border-radius: 0px;
	opacity: 1;
	box-shadow: 4px 4px 0px rgba(0,0,0,0.65);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	text-transform:uppercase;
	font-family:"DIN", sans-serif;
	text-align:center;
}

.btn:hover {
	background: #ffdb05;
	color:#007c41;
	text-shadow:  1px 1px 0px rgba(255,255,200,0.65);
}


.btn-start {
	display:block;
	text-align: center;
	margin: 1px 0 0 0;
}

.btn-disabled, .btn-disabled:hover {
	color:#333;
	background-color: #666;
	text-shadow:  1px 1px 0 #999;
	opacity:0.85;
}


#nav {
	position: absolute;
	right: 1em;
	bottom: -10em;
	z-index:5;
}

#progress-bar {
	position: relative;
	background: #ffdb05;
	display: block;
	line-height: 0;
	height: 0.25em;
	width: 0%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#piece-label {
	display: none;
	pointer-events: none;
}

.canvasHolder.started #loading-window {
	opacity: 0;
	pointer-events: none;
}

.canvasHolder.started #nav {
	right: 1.5em;
	bottom: 1.5em;
}

.canvasHolder.started #piece-label {
	display: inline-block;
	position: absolute;
	font-size: 2em;
	color: #fff;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.65);
	left: 1em;
	top:1em;
	line-height:1em;
	-webkit-transition: top 0.2s ease-in-out;
	-moz-transition: top 0.2s ease-in-out;
	-ms-transition: top 0.2s ease-in-out;
	-o-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
	font-weight:700;

}

.canvasHolder.started #piece-label.active {
	top: 0em;
	z-index:999;
}

.canvasHolder.started #piece-label.inactive {
	top: -5em;
}

#loading-label {
	font-size: 1.2em;
	display: block;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	width: 100%;
	top: 1px;
	line-height: 1em;
}

.ctl-disabled {
	display:none;
}

#overall-title {
	position: absolute;
	right: 1em;
	top: 1em;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.65);
	line-height: 1em;
	margin: 0;
	z-index:999;
}

body {
	font-size: 1em;
}

@media screen and (max-height:38em), screen and (max-width: 71.875em) {
	.dinosauria #loading-window, #loading-window {
		width:40em;
		margin-left:-20em;
		height:26em;
		margin-top:-13em;
	}
	#loading-window img {
		width:100%;
	}

	#loading-window .puzzle-gif-holder {
		width:48%;
		padding-top:0;
	}
	#loading-window .puzzle-gestures-holder {
		width:48%;
		position:absolute;
		right:6px;
		top:1em;
	}
}

@media screen and (max-width: 71.875em) {
		#puzzle-intro {
		width:80%;
		margin: 0em auto;
		padding-top:10em;
	}
}

@media screen and (min-height:38.01em) {
	.puzzle-gif-holder {
		padding-top: 56.26423690205%;
		position:relative;
	}
}

@media (max-width:58em) {
	#nav a {
		font-size:1em;
	}
	.canvasHolder.started #piece-label {
		font-size:2em;
	}
}


